<mvc:View
  controllerName="{{ controller_path }}"
  displayBlock="true"
  xmlns="sap.m"
  xmlns:mvc="sap.ui.core.mvc"
  xmlns:core="sap.ui.core"
  xmlns:code="sap.ui.codeeditor">

  <Page title="{i18n>appTitle}" id="page">
    <content>
      <HBox fitContainer="true"> {% if with_navigation %} <VBox width="20%">
          <ScrollContainer height="100%" vertical="true">
            <core:Fragment fragmentName="{{ fragment_path }}" type="XML" />
          </ScrollContainer>
        </VBox>
        {% endif %} <VBox class="sapUiSmallMarginBegin  sapUiSmallMarginTop" width="{% if with_navigation %}80%{% else %}100%{% endif %}">
          <ScrollContainer height="100%" vertical="true" id="scroll_container">
            {{ content | safe }}
          </ScrollContainer>
        </VBox>
      </HBox>
    </content>
  </Page>
</mvc:View>